
html,body{
	background-color:rgba(0,0,0,0);
	height:100%;
}
html { 
  background: url(../images/parchment.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#center-graphic{	
	background-image: url(../Assets/maraudersMapGraphic.png); 
 	background-repeat: no-repeat;
 	height: 100%;
 	width:50%;
 	margin: 0 auto;
}