html { 
  background: url(../images/parchment.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#center-graphic{
  url(../Assets/maraudersmapGraphic.png); 
 margin: auto;
}